{% extends 'workoutnotes/home.html' %}

{% block content %}
    <h1>My workouts</h1>
    <table class="table table-borderless">
        <th>Workout</th>
        <th>Date</th>
        <th>Duration</th>
        {% for workout in workouts %}
            <tr>
                <td><a href="/workoutnotes/workouts/{{workout.id}}">{{workout.name}}</a></td>
                <td>{{ workout.time_start|date:'Y-m-d' }}</td>
                <td>{{ workout.duration}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}


